html {
    overflow: hidden;
}

body {
    margin: 0;
}

#example-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: gray;
    padding: 0.5em;
    max-width: 24%;
}

#example-title header {
    font-size: 1.2em;
    font-weight: bold;
}
